<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test work</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="container">
    <div class="page-header">
        <h1>Test work</h1>
    </div>
<div class="row">
    <div class="col-lg-6">
        <search-widget params="githubUser:githubUser"></search-widget>
        <user-widget params="githubUser: githubUser"></user-widget>
        <repos-widget params="githubUser: githubUser"></repos-widget>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <stargazers-widget params="githubUser: githubUser"></stargazers-widget>
    </div>
</div>
@Scripts.Render("~/bundles/knockout/widgets")
@Scripts.Render("~/bundles/knockout/viewmodels")
</body>
</html>
